*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.xdv
ustcthesis使用说明.pdf
main.pdf
.vscode
ustcthesis/main.synctex.gz
ustcthesis/ustcthesis.glo
ustcthesis/ustcthesis.gls
ustcthesis/ustcthesis.hd
ustcthesis/ustcthesis.idx
ustcthesis/ustcthesis.ilg
ustcthesis/ustcthesis.ind
